<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>ZBPDK</id>
<name>Z-Blog PHP Development Kit(Beta)</name>
<url>http://www.zsxsoft.com</url>
<note>Z-Blog PHP的开发套件</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zsx</name>
  <email>zsx@zsxsoft.com</email>
  <url>http://www.zsxsoft.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.5</version>
<pubdate>2014-01-29</pubdate>
<modified>2017-02-16</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>