<div class="comment even" id="cmt<#article/comment/id#>">
	<div class="clear-block">
		<span class="submitted"><#article/comment/posttime#> — <a href="<#article/comment/urlencoder#>" title="<#article/comment/url#>"  rel="nofollow" ><#article/comment/name#></a>  <a href="#cmt<#article/comment/id#>" onclick="ReComment('cmt<#article/comment/id#>','comment','content','divCommentPost','<#article/comment/id#>')" class="comment_reply" title="回复<#article/comment/name#>">回复</a></span>
		<h3><a href="#cmt<#article/comment/id#>" class="active"><#article/comment/count#></a> .</h3>
		<div class="content">
		  <#article/comment/content#>
		</div>
	</div>
</div>