<div class="box" id="divCommentPost">
  <h2>发表新评论</h2><small><a rel="nofollow" id="cancel-reply" href="#divCommentPost" style="display:none;"><#ZC_MSG264#><#ZC_MSG149#></a></small>
 <div class="content"><form id="frmSumbit" target="_self" method="post" action="<#article/commentposturl#>">
<div>
	<input type="hidden" name="inpId" id="inpId" value="<#article/id#>" />
	<input type="hidden" name="inpArticle" id="inpArticle" value="" />
	<input type="hidden" name="inpLocation" id="inpLocation" value="" />
<div class="form-item">
 <label for="inpName">您的名字: <span class="form-required" title="此字段必须填写。">*</span></label>
 <input type="text" maxlength="60"  name="inpName" id="inpName"   size="30" value="匿名" onfocus="if(this.value=='匿名') this.value=''" onblur="if(this.value=='') this.value='匿名'" class="form-text required" />
</div>

<div class="form-item">
 <label for="inpEmail">电子邮件: </label>
 <input type="text" maxlength="64" name="inpEmail" id="inpEmail" size="30" value="" class="form-text required" />

 <div class="description">此内容将保密，不会被其他人看见。</div>
</div>

<div class="form-item">
 <label for="inpHomePage">主页: </label>
 <input type="text" maxlength="255" name="inpHomePage" id="inpHomePage"  size="30" value="" class="form-text" />
</div>
<#template:article_commentpost-verify#>
<div class="form-item">
 <label for="txaArticle">评论: <span class="form-required" title="此字段必须填写。">*</span></label>
 <textarea cols="60" rows="15"  name="txaArticle" id="txaArticle" onchange="GetActiveText(this.id);" onclick="GetActiveText(this.id);" onfocus="GetActiveText(this.id);"  class="form-textarea resizable required"></textarea>

</div>

<ul class="tips">
<li style="display:none">可用的 UBB 标签: <script language="JavaScript" type="text/javascript">objActive="txaArticle";ExportUbbFrame();</script></li>
<li><#ZC_MSG056#>:<#ZC_CONTENT_MAX#>。</li>
</ul>

<input type="submit" name="btnSumbit" id="edit-preview" value="<#ZC_MSG087#>" onclick="JavaScript:return VerifyMessage()"  class="form-submit" />
<input type="checkbox" name="chkRemember" value="1" id="chkRemember"  class="form-checkboxes" /><label for="chkRemember" ><#ZC_MSG049#></label>

</div></form>
</div>
	<script language="JavaScript" type="text/javascript">LoadRememberInfo();</script>
</div>