<!-- Layout -->
<div id="header-region" class="clear-block"></div>
    <div id="wrapper">
    <div id="container" class="clear-block">
      <div id="header">
        <div id="logo-floater">
        <h1><a href="<#ZC_BLOG_HOST#>" title="<#ZC_BLOG_TITLE#>"><img src="<#ZC_BLOG_HOST#>zb_users/theme/<#ZC_BLOG_THEME#>/style/<#ZC_BLOG_CSS#>/logo.png" alt="<#ZC_BLOG_TITLE#>" id="logo"><span><#ZC_BLOG_TITLE#></span></a></h1>
		 </div>
        <ul id="divNavBar" class="links primary-links"><#CACHE_INCLUDE_NAVBAR#></ul> 
      </div> <!-- /header -->
	  <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
