<#TEMPLATE_HEADER#>
<#TEMPLATE_C_HEADER#>
	<link rel="alternate" type="application/rss+xml" href="<#ZC_BLOG_HOST#>feed.asp" title="<#ZC_BLOG_TITLE#>" />
</head>
<body class="multi default">
<#TEMPLATE_C_TOP#>
		<div id="mission"></div><ins></ins>
		<#template:article-multi#>
		<div class="pager"><span class="pager-list"><#template:pagebar#></span></div> 

		<span class="clear"></span><a href="<#ZC_BLOG_HOST#>feed.asp" class="feed-icon"><img src="<#ZC_BLOG_HOST#>zb_users/THEME/garland/STYLE/rss-sq.png" alt="聚合内容" title="聚合内容" height="16" width="16"></a>

<#TEMPLATE_C_FOOTER#>