<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="php"><id>AdminColor</id><name>后台配色器</name><url>http://www.rainbowsoft.org/</url><note>给Z-Blog 2.1换后台配色的小工具.</note><path></path><include>include.asp</include><level>1</level><author><name>zx.asd</name><email>rainbowsoft@gmail.com</email><url>http://www.zdevo.com/</url></author><adapted>130128</adapted><version>1.0</version><pubdate>2013-7-7</pubdate><modified>2013-7-7</modified><description><![CDATA[给Z-BlogPHP换后台配色的小工具]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
