<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AdminColor</id>
<name>后台配色器</name>
<url>http://www.zblogcn.com/</url>
<note>给Z-BlogPHP版换后台配色的小工具.</note>
<description>给Z-BlogPHP版换后台配色的小工具.</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zx.asd</name>
  <email>rainbowsoft@gmail.com</email>
  <url>http://www.zdevo.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>5.6</version>
<pubdate>2013-07-07</pubdate>
<modified>2021-11-30</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict>iceAdmin</conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>