<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="php"><id>duoshuo</id><name>多说社会化评论</name><url>http://duoshuo.com/</url><note>多说让评论更活跃、互动性更强的评论系统，永久免费且容易安装。它能智能识别垃圾评论、稳步提升网站流量。</note><path>main.php</path><include>include.asp</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com/</url></author><adapted>130128</adapted><version>1.0</version><pubdate>2013-7-7</pubdate><modified>2013-7-7</modified><description><![CDATA[多说让评论更活跃、互动性更强的评论系统，永久免费且容易安装。它能智能识别垃圾评论、稳步提升网站流量。]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>