<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin version="php">
	<id>AuditRecords</id>
	<name>审核文章日志插件</name>
	<note>记录发布文章时的审核及回复</note>
	<path></path>
	<include>include.php</include>
	<level>1</level>
	<author>
		<name>zx.asd</name>
		<url>http://www.rainbowsoft.org/</url>
		<email></email>
	</author>
	<version>1.0</version>
	<modified>2013-7-7</modified>
	<pubdate>2013-7-7</pubdate>
	<adapted>130707</adapted>
</plugin>
