<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>changyan</id>
<name>畅言评论系统</name>
<url>http://changyan.sohu.com</url>
<note>门户级稳定、可信赖的、永久免费的社会化评论系统</note>
<description>即装即用，永久免费的社会化评论系统。为各类网站提供新浪微博、QQ、人人、搜狐等账号登录评论功能，同时提供强大的内容管理后台和智能云过滤服务。</description>
<path>main.php</path>
<include>include.asp</include>
<level>1</level>
<author>
  <name>畅言</name>
  <email>siqiyu@sohu.com</email>
  <url>http://changyan.sohu.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>1.2</version>
<pubdate>2014-02-28</pubdate>
<modified>2014-06-19</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>