<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>CustomMeta</id>
<name>自定义字段插件</name>
<url>http://www.zblogcn.com/</url>
<note>为文章,分类等添加自定义数据字段</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zxasd</name>
  <email>rainbowsoft@gmail.com</email>
  <url>http://www.zdevo.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>131221</adapted>
<version>1.5</version>
<pubdate>2013-07-07</pubdate>
<modified>2016-12-16</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>