# User Config
/zb_users/c_option.php
/zb_users/c_option*.php
/zb_users/data/*.db

# Cache 
/zb_users/cache/*
/zb_users/logs/*

# Upload
/zb_users/upload/*
!/zb_users/upload/index.html

# Compiled theme
# /zb_users/theme/*/compile/*.php

# Static
/post/*

# Update
#/update/*.xml

# Plugin cache
/zb_users/plugin/SQLLog/logs/*.php

# Unoffical Plugin
/zb_users/plugin/*
!/zb_users/plugin/api
!/zb_users/plugin/AuditRecords
!/zb_users/plugin/AutoPublisher
!/zb_users/plugin/CloudStorage
!/zb_users/plugin/CustomMeta
!/zb_users/plugin/Gravatar
!/zb_users/plugin/HeartVote
!/zb_users/plugin/Howl
!/zb_users/plugin/KindEditor
!/zb_users/plugin/Pad
!/zb_users/plugin/RegPage
!/zb_users/plugin/SQLLog
!/zb_users/plugin/STACentre
!/zb_users/plugin/Sitemap
!/zb_users/plugin/Storage
!/zb_users/plugin/Totoro
!/zb_users/plugin/UEditor
!/zb_users/plugin/ZBPDK
!/zb_users/plugin/alipay
!/zb_users/plugin/changyan
!/zb_users/plugin/clinic
!/zb_users/plugin/passwordvisit
!/zb_users/plugin/upyun
!/zb_users/plugin/tpluginmaker
!/zb_users/plugin/wearingtheme
!/zb_users/plugin/wp2zbp
!/zb_users/plugin/LargeData
!/zb_users/plugin/ZBPJFExample
!/zb_users/plugin/markdown
!/zb_users/plugin/linkmanage

# Unoffical Theme
/zb_users/theme/*
!/zb_users/theme/default
!/zb_users/theme/HTML5CSS3
!/zb_users/theme/metro
!/zb_users/theme/clear
!/zb_users/theme/x2013
!/zb_users/theme/WhitePage

# Rules
.htaccess
httpd.*
web.config

# Others
zh.php
testcode1.php
test2.php
test.php
13更新.txt
phpinfo.php
/phpMyAdmin/
/abc/
wincache.php
/Beta/
/vendor/
/.idea/
composer.lock
.php_cs.cache