<div class="post cate<#article/category/id#> auth<#article/author/id#>">
      <div class="post_time">
        <h5><#article/posttime/day#></h5><h6><#article/posttime/year#><br /><#article/posttime/month#></h6>
      </div>
      <div class="post_r">
        <div class="post_body">
          <h2><a href="<#article/url#>" title="<#article/title#>"><#article/title#></a></h2>
          <div class="post_content">
            <#article/intro#>
          </div>
          <div class="post_info">
            <#ZC_MSG011#>:<#article/author/name#> | <#ZC_MSG012#>:<#article/category/name#> | <#ZC_MSG013#>:<#article/commnums#> | <#ZC_MSG130#>:<#article/loadviewcount#>
          </div>
        </div>
      </div>
     <div class="clear"></div>
    </div>
    