<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>ScheduledTasks</id>
<name>计划任务</name>
<url></url>
<note></note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zx.asd</name>
  <email></email>
  <url>https://www.zblogcn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>170000</adapted>
<version>1.1</version>
<pubdate>2020-12-07</pubdate>
<modified>2023-04-12</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>