<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="php"><id>ckeditor</id><name>CKEditor编辑器</name><url>http://app.rainbowsoft.org/catalog.asp?user=4</url><note>替换默认的Ueditor编辑器为CKEditor编辑器</note><path></path><include>include.asp</include><level>1</level><author><name>未寒</name><email>im@imzhou.com</email><url>http://imzhou.com/</url></author><adapted>130722</adapted><version>1.0</version><pubdate>2013/8/5</pubdate><modified>2013-8-21</modified><description><![CDATA[用CKEditor 替换Z-Blog默认的UEditor编辑器。]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict>KindEditor</conflict></advanced></plugin>
