@charset "utf-8";
/*
作者：新鲜人
地址：http://www.htmlit.com.cn
邮箱：u2lei@yahoo.com.cn
     xinxr@msn.com
*/
* { padding:0; margin:0;box-sizing:border-box;}

body{ padding:0;margin:0;font-family:"Microsoft YaHei",STHeiti,"Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",NSimSun,SimSun, Arial, Helvetica, sans-serif;background:#ffffff;color:#444444;font-size: 14px;line-height: 20px;}

div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span{margin:0; padding:0;}
table{border-collapse:collapse;}
a { text-decoration : none ;color: #003399;}
a:hover { color:#990000;}
ul { padding:0; margin:0;}
li { list-style-type: none;}
.clear { clear: both;}
img { border: none;}

/*=======================================================*/
.bg {position:absolute;top:0;left:0;z-index:-1000;height:260px;width:100%;background:#3a6ea5;}
#wrapper {width:100%;padding:0; margin:0 auto;}
.logo { width:200px; height:70px; margin:170px auto 60px auto;}
.logo img{width:200px;height:70px; background:url("../image/admin/logo.png");}
input { float:left;vertical-align:middle;}
input[type="text"],input[type="password"] {border:1px solid #3a6ea5;}
.login { width:560px; height:100px; margin:0 auto; padding-left:0px;}
.login dl { height:50px;}
.login dd { width:280px; float:left;}
dd.checkbox { margin-left:65px; width:200px;text-align :left;}
dd.submit { width:250px; }
dd.username {overflow: hidden; width:280px;}
dd.password {overflow: hidden; width:280px;}
dd.username label,dd.password label {width:65px;text-align:center;}
label { line-height:30px; float:left;vertical-align:text-bottom;padding:0 5px 0 5px;}
input[type="checkbox"]{margin:8px 0 0 0;padding:0;}
#edtUserName, #edtPassWord { float:left; width:173px; height:2.4em; padding:0.1em 5px; line-height:2.4em; }
.button { float:right;color:#ffffff; font-size:14px; width:70px; height:32px; background:#3a6ea5; border:1px solid #3399CC;cursor: pointer;}
.button:hover{color:#ffffff;background:#3399cc;cursor: pointer;}

.divHeader { height:1.5em;font-weight:blod; line-height:1.5em; font-size:1.5em; padding:0 0 10px 0; background:#FFF;text-align:center;}


body.short .bg {height:150px;}
body.short .logo {height:50px;margin:60px auto 60px auto;}


.loginw { width:700px;margin-bottom:120px;}
.loginw .content>div>p{font-weight:bold;font-size:1.2em;padding:10px;background:#eee;margin-bottom:10px;}
.loginw .content>div{padding-bottom:20px;}
.loginw>form>p{padding:10px 10px 50px 10px;}
.loginw>form>p>a{font-size:1.1em;}
.loginw .content>div>div{padding:0 10px;}

@media only screen and (max-width: 720px) {
.bg{height:190px;}
.logo {margin-top:100px}
.login { width:310px;}
.login dd { width:300px; float:right;padding:8px 10px 7px 0;}
.login dd.checkbox { margin-left:95px; width:220px; float:left;padding:5px 0;}
.login dd.submit { width:290px; float:right;padding:5px 0;margin-right:10px;}
#edtUserName, #edtPassWord { float:right;width:200px;}
input[type="checkbox"]{margin:8px 0 0 5px;}
}