@charset "utf-8";

/*
登录页，错误页 css
作者：新鲜人
地址：http://www.htmlit.com.cn
邮箱：u2lei@yahoo.com.cn
     xinxr@msn.com
*/
* { padding: 0; margin: 0; box-sizing: border-box; }
body { padding: 0; margin: 0; font-family: "Microsoft YaHei", STHeiti, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Heiti SC", NSimSun, SimSun, Arial, Helvetica, sans-serif; background: #ffffff; color: #444444; font-size: 14px; line-height: 1.5 }
div,
h1,
h2,
h3,
h4,
p,
form,
ul,
label,
input,
textarea,
img,
span { margin: 0; padding: 0; }
table { border-collapse: collapse; }
a { text-decoration: none; color: #003399; }
a:hover { color: #990000; }
ul { padding: 0; margin: 0; }
li { list-style-type: none; }
.clear { clear: both; }
img { border: none; }

/*=======================================================*/
.bg { position: absolute; top: 0; left: 0; z-index: -1000; height: 260px; width: 100%; background: #3a6ea5; }
#wrapper { width: 100%; padding: 0; margin: 0 auto; }
.logo { width: 200px; height: 70px; margin: 170px auto 60px auto; }
.logo img { width: 200px; height: 70px; background: url("../image/admin/logo_white.svg"); }
input { float: left; vertical-align: middle; }
input[type="text"],input[type="password"] { border: 1px solid #3a6ea5; }
input[type="checkbox"] { margin: 8px 0 0 0; padding: 0; }
label { line-height: 30px; float: left; vertical-align: text-bottom; padding: 0 5px 0 5px; }

.login { width: 600px; min-height: 100px; margin: 0 auto; padding-left: 0px; }
.login dl { height: 50px; clear:both; }
.login dd { width: 300px; float: left; margin-bottom:20px;}
.login dd.floatright {float: right;}
.login dd.checkbox { margin-left: 100px; width: 200px; text-align: left; }
.login dd.submit ,.login dd.password ,.login dd.username ,.login dd.validcode { width: 300px; }
.login label { width: 100px; text-align: right;overflow :hidden;text-overflow : clip;white-space:nowrap; }
.login input[type="checkbox"]+label {width:auto;}
.login input[type="text"],.login input[type="password"]{ float: left; width: 200px; height: 32px; padding:1px 5px; line-height: 32px; }
.login dd.validcode { height: 40px; position:relative;}
.login dd.validcode > img {position:absolute;z-index:9999;width:90px;height:28px;cursor:pointer;right:2px;top:2px;}

.button { float: right; color: #ffffff; font-size: 1em; width: 70px; height: 32px; background: #3a6ea5; border: 1px solid #3399CC; cursor: pointer; }
.button:hover { color: #ffffff; background: #3399cc; cursor: pointer; }
.divHeader { height: auto; font-weight: blod; line-height: 1.5em; font-size: 1.5em; padding: 0 0 10px 0; background: #FFF; text-align: center; }

body.error {min-width: 640px; }
body.error .content>div {overflow:hidden; }
body.short .bg { height: 160px; }
body.short .logo { height: 70px; width:200px; margin: 60px auto 60px auto; }
.loginw { width: 700px; margin-bottom: 120px; }
.loginw .content>div>p { font-weight: bold; font-size: 1.2em; padding: 10px; background: #eee; margin-bottom: 10px; }
.loginw .content>div { padding-bottom: 20px; }
.loginw div.goback { padding: 10px 10px 50px 10px; }
.loginw div.goback a { font-size: 1.1em; }
.loginw .content>div>div { padding: 0 10px; }

@media only screen and (max-width:800px) {
    .bg { height: 160px; }
    .logo { margin-top: 60px }
    .login { width: 310px; }
    .login dd { float: right; padding: 0px 10px 0px 0; margin-bottom:10px;}
    .login dd.checkbox { margin-left: 10px; width: 300px; float: left; padding: 5px 0; }
    .login dd.submit { width: 300px; float: right; padding: 5px 0; margin-right: 10px; }
    .login dd.username label,.login dd.password label,.login dd.validcode label { width: 300px;text-align: left;}
    .login input[type="text"],.login input[type="password"]{ float: right; width: 285px; }
    input[type="checkbox"] { margin: 8px 0 0 5px; }
    .loginw { width: 90%; }
    .login dd.validcode {height: 65px;}
    .login dd.validcode > img {top:32px;right:12px;}
}

table.table_hover > tbody > tr > td:hover,
table.table_hover > tbody > tr > th:hover,
table.table_hover > tbody > tr:hover > td,
table.table_hover > tbody > tr:hover > th {background-color: #ffffdd;}
table.table_striped > tbody > tr:nth-of-type(odd) {background-color: #F4F4F4;}

.blodcolor{color:#1d4c7d}.normalcolor{color:#3a6ea5}.lightcolor{color:#b0cdee}.highcolor{color:#3399cc}.anticolor{color:#d60000}
.bg-blodcolor{background-color:#1d4c7d}.bg-normalcolor{background-color:#3a6ea5}.bg-lightcolor{background-color:#b0cdee}.bg-highcolor{background-color:#3399cc}.bg-anticolor{background-color:#d60000}
