<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AppCentre</id>
<name>应用中心</name>
<url>http://www.zblogcn.com/</url>
<note>Z-BlogPHP版的资源大本营</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zx.asd</name>
  <email>rainbowsoft@gmail.com</email>
  <url>http://www.zblogcn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>131221</adapted>
<version>1.6</version>
<pubdate>2013-07-07</pubdate>
<modified>2015-02-11</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>