<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="php"><id>Totoro</id><name>Totoro</name><url>http://www.zsxsoft.com/</url><note>基于TotoroII的Z-Blog的评论及引用管理审核系统增强版。</note><path>main.php</path><include>include.php</include><level>1</level><author><name>zsx</name><email>zsx@zsxsoft.com</email><url>http://www.zsxsoft.com</url></author><adapted>130707</adapted><version>1.0</version><pubdate>2013-7-7</pubdate><modified>2013-7-7</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
