<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Totoro</id>
<name>Totoro - 评论审核系统</name>
<url>http://www.zsxsoft.com/</url>
<note>基于TotoroII的Z-Blog的评论及引用管理审核系统增强版。</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zsx</name>
  <email>zsx@zsxsoft.com</email>
  <url>http://www.zsxsoft.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140220</adapted>
<version>2.9</version>
<pubdate>2013-07-07</pubdate>
<modified>2021-11-30</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>