<?xml version="1.0" encoding="utf-8" standalone="yes"?><plugin version="2.0"><id>KindEditor</id><name>KindEditor编辑器</name><url>http://app.rainbowsoft.org/catalog.asp?user=4</url><note>替换默认的Ueditor编辑器为KindEditor编辑器</note><path>edit_kindeditor.asp</path><include>include.asp</include><level>1</level><author><name>未寒</name><email>im@imzhou.com</email><url>http://imzhou.com/</url></author><adapted>130722</adapted><version>1.5</version><pubdate>2013-01-06</pubdate><modified>2013-7-22</modified><description><![CDATA[用KindEditor编辑器替换默认的Ueditor编辑器。
启用插件后新建或者编辑文章（页面）将会使用KindEditor编辑器]]></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
