<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>AuditRecords</id>
<name>审核文章日志插件</name>
<url>http://www.rainbowsoft.org/</url>
<note>记录发布文章时的审核及回复</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zx.asd</name>
  <email></email>
  <url>http://www.rainbowsoft.org/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.2</version>
<pubdate>2013-07-07</pubdate>
<modified>2015-01-27</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>