<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>static</id>
<name>全站静态化</name>
<url>http://app.rainbowsoft.org/?auth=4</url>
<note>给文章生成真实的静态化文件而不是伪静态</note>
<description>给文章生成真实的静态化文件而不是伪静态，减少系统资源占用。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email>im@imzhou.com</email>
  <url>http://imzhou.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>1.0</version>
<pubdate>2013-12-26</pubdate>
<modified>2014-09-05</modified>
<price>28</price>
<advanced>
  <dependency>STACentre</dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>