<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Gravatar</id>
<name>Gravatar头像</name>
<url>http://www.zsxsoft.com/</url>
<note>前台评论、后台管理显示Gravatar头像</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zsx</name>
  <email>zsx@zsxsoft.com</email>
  <url>http://www.zsxsoft.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>1.4</version>
<pubdate>2013-07-07</pubdate>
<modified>2020-06-14</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>