<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>KindEditor</id>
<name>KindEditor编辑器</name>
<url>http://app.rainbowsoft.org/?auth=4</url>
<note>KindEditor富文本编辑器</note>
<description>KindEditor富文本编辑器
启用插件后新建或者编辑文章（页面）将会使用KindEditor编辑器</description>
<path></path>
<include>include.asp</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email>im@imzhou.com</email>
  <url>http://imzhou.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.4</version>
<pubdate>2013-07-07</pubdate>
<modified>2016-04-09</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>