<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>upyun</id>
<name>又拍云存储</name>
<url>http://app.rainbowsoft.org/?auth=4</url>
<note>将博客附件转存到又拍云存储</note>
<description>将博客内所有附件上传转存到又拍云存储</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email>im@imzhou.com</email>
  <url>http://imzhou.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151740</adapted>
<version>1.0</version>
<pubdate>2014-05-04</pubdate>
<modified>2017-03-16</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>