<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Pad</id>
<name>Pad插件</name>
<url>http://www.rainbowsoft.org/</url>
<note>Z-BlogPHP的Pad版插件</note>
<description>Pad版支持安卓,WP和IOS。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>月上之木</name>
  <email>jie2520@gmail.com</email>
  <url></url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>130707</adapted>
<version>1</version>
<pubdate>2013-07-07</pubdate>
<modified>2013-09-01</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>