<article id="log<#article/id#>" class="cate<#article/category/id#> auth<#article/author/id#>">
  <header>
    <time><#article/posttime/longdate#></time>
    <h3><a href="<#article/url#>"><#article/title#></a></h3>
  </header>
  <section><#article/intro#></section>
  <footer>
    <h4><#ZC_MSG138#>: <#template:article_tag#></h4>
    <h5><em><#ZC_MSG011#>: <#article/author/name#></em> <em><#ZC_MSG012#>: <#article/category/name#></em> <em><#ZC_MSG013#>: <#article/commnums#></em> <em><#ZC_MSG130#>: <view id="<#article/id#>"><#article/viewnums#></view></em></h5>
  </footer>
</article>