<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Storage</id>
<name>Storage For SAE</name>
<url></url>
<note>SAE提供的分布式文件存储服务</note>
<description>SAE因空间不支持写操作所以无法上传文章图片、附件，本插件利用SAE提供的分布式文件存储服务Storage来存储博客附件。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email>im@imzhou.com</email>
  <url>http://imzhou.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140220</adapted>
<version>1.0</version>
<pubdate>2014-05-03</pubdate>
<modified>2014-05-03</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>