@use "../base/variables" as *;

body.admin-login {
  min-width: 100%;
}

.login-header {
  height: 260px;
  padding-bottom: 13px;
  margin-bottom: 37px;
  background-color: $color-primary;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .brand {
    img {
      width: 200px;
      height: 70px;
      background: url("image/logo_white.svg");
    }

  }
}

/* 表单容器 */
.login-container {
  min-height: 100px;
  margin: 0 auto;
  padding-left: 0px;
  width: 600px;

  .login-form {
    width: 600px;
  }

  dl {
    height: 50px;
    clear:both;
  }
  dd {
    width: 300px;
    float: left;
    margin-bottom:20px;
  }
  dd.floatright {
    float: right;
  }
  dd.checkbox {
    margin-left: 100px;
    width: 200px;
    text-align: left;
  }
  dd.submit ,dd.password ,dd.username ,dd.validcode {
    width: 300px;
  }
  label {
    float:left;
    width: 100px;
    text-align: right;
    overflow :hidden;
    text-overflow : clip;
    white-space:nowrap;
    line-height: 30px;
    padding: 0 5px 0 5px;
  }
  input {
    float: left;
  }
  input[type="checkbox"] {
    margin: 8px 0 0 0;
    padding: 0;
  }
  input[type="checkbox"]+label {
    width:auto;
  }
  input[type="text"]{
    width: 200px;
    height: 32px;
    padding:1px 5px;
    line-height: 32px;
    }
  input[type="password"]{
    width: 200px;
    height: 32px;
    padding:1px 5px;
    line-height: 32px;
  }
  dd.validcode {
    height: 40px;
    position:relative;
  }
  dd.validcode > img {
    position:absolute;
    z-index:9999;
    width:90px;
    height:28px;
    cursor:pointer;
    right:2px;
    top:2px;
  }

  dd .button {
    float: right;
  }
}

/* 响应式：小屏改为单列 */
@media (max-width: 720px) {
  .login-container {
    width: 310px;
    dd {
      clear: both;
      padding: 0px 10px 0px 0;
      margin-bottom:10px;
    }
    dd.checkbox {
      margin-left: 10px;
      width: 300px;
      float: left;
      padding: 5px 0;
    }
    dd.submit {
      width: 300px;
      float: left;
      padding: 5px 0;
      margin-right: 10px;
    }
    dd.username label {
      width: 300px;
      text-align: left;
    }
    dd.password label {
      width: 300px;text-align: left;
    }
    dd.validcode label {
      width: 300px;text-align: left;
    }
    dd .button {
      clear: both;
      margin-right: 1em;
    }
    input[type="text"]{
      float: right; width: 285px;
    }
    input[type="password"]{
      float: right; width: 285px;
    }
    input[type="checkbox"] {
      margin: 8px 0 0 5px;
    }
    dd.validcode {
      height: 65px;
    }
    dd.validcode > img {top:32px;right:12px;
    }


  }
}
