<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>api</id>
<name>API</name>
<url>http://www.zblogcn.com/</url>
<note>API接口插件</note>
<description>官方的接口插件</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zxasd</name>
  <email>rainbowsoft@gmail.com</email>
  <url>http://www.zdevo.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>162090</adapted>
<version>0.1</version>
<pubdate>2020-05-18</pubdate>
<modified>2020-05-19</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>