<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<#ZC_BLOG_LANGUAGE#>" />
<title><#BlogTitle#> <#ZC_MSG044#> <#ZC_BLOG_TITLE#></title>
<#TEMPLATE_INCLUDE#>
</head>
<body class="multi catalog">
<#TEMPLATE_HEADER#>
<section>
  <section id="main">
    <section>
      <#template:article-multi#>
      <nav><#template:pagebar#></nav>
    </section>
    <aside>
      <#template:sidebar#>
    </aside>
  </section>
  <aside id="extra">
    <#template:sidebar2#>
  </aside>
</section>
<#TEMPLATE_FOOTER#>
</body>
</html>