<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>UEditor</id>
<name>UEditor编辑器</name>
<url>http://www.rainbowsoft.org/</url>
<note>UEditor编辑器.</note>
<description>ZBP的默认编辑器；现版本号1.6.4。</description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zsx</name>
  <email>zsx@zsxsoft.com</email>
  <url>http://www.zsxsoft.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.6.10</version>
<pubdate>2013-07-07</pubdate>
<modified>2022-09-15</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>