<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>duoshuo</id>
<name>多说社会化评论</name>
<url>http://duoshuo.com/</url>
<note>多说让评论更活跃、互动性更强，永久免费且容易安装。它能智能识别垃圾评论、稳步提升网站流量。</note>
<description>多说让评论更活跃、互动性更强，永久免费且容易安装。它能智能识别垃圾评论、稳步提升网站流量。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zsx</name>
  <email>zsx@zsxsoft.com</email>
  <url>http://www.zsxsoft.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>1.2</version>
<pubdate>2013-07-07</pubdate>
<modified>2014-07-17</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>