<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>alipay</id>
<name>支付宝即时到帐接口</name>
<url></url>
<note>接入支付宝在线支付</note>
<description></description>
<path>setting.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email>im@imzhou.com</email>
  <url>http://imzhou.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>12</version>
<pubdate>2013-09-12</pubdate>
<modified>2017-01-29</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>