<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<plugin version="php"><id>CustomMeta</id><name>CustomMeta自定义作用域插件</name><url>http://www.rainbowsoft.org/</url><note>为文章,分类等添加自定义数据字段</note><path>main.php</path><include>include.php</include><level>1</level><author><name>zx.asd</name><email>rainbowsoft@163.com</email><url>http://www.zdevo.com/</url></author><adapted>130707</adapted><version>1.0</version><pubdate>2013-7-7</pubdate><modified>2013-7-7</modified><description></description><price>0</price><advanced><dependency></dependency><rewritefunctions></rewritefunctions><conflict></conflict></advanced></plugin>
