<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>linkmanage</id>
<name>菜单链接管理</name>
<url>http://app.zblogcn.com/?auth=4</url>
<note>以友好的界面管理博客各类导航</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒,月上之木</name>
  <email>im@imzhou.com</email>
  <url>https://www.zblogcn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151525</adapted>
<version>0.3</version>
<pubdate>2015-09-30</pubdate>
<modified>2017-01-13</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>