<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>STACentre</id>
<name>静态管理中心</name>
<url>http://www.rainbowsoft.org/</url>
<note>控制ZBLOG的伪静态化设置.</note>
<description>控制ZBLOG的伪静态化设置,将文章，页面, 分类页, 标签页, 作者页伪静态化成 HTML 页面.
增加Nginx的规则配置；</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zx.asd</name>
  <email>rainbowsoft@gmail.com</email>
  <url>http://www.zblogcn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>131221</adapted>
<version>1.6</version>
<pubdate>2013-07-07</pubdate>
<modified>2021-04-14</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>