<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>uyan</id>
<name>友言</name>
<url>http://www.uyan.cc/</url>
<note>友言是一个简单而强大的社会化评论系统，一键评论同步至社交网络，增加网站用户活跃度，调动好友参与评论，帮助网站实现社会化网络优化(SMO)，有效提升网站社会化流量！</note>
<description></description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zx.asd</name>
  <email>rainbowsoft@gmail.com</email>
  <url>http://www.zdevo.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>130707</adapted>
<version>1.0</version>
<pubdate>2013-07-07</pubdate>
<modified>2013-09-02</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>