<div class="post multi-post cate<#article/category/id#> auth<#article/author/id#>">
	<h4 class="post-date"><#article/posttime/longdate#></h4>
	<h2 class="post-title"><a href="<#article/url#>"><#article/title#></a></h2>
	<div class="post-body"><#article/intro#></div>
	<h5 class="post-tags"><#template:article_tag:begin#><#ZC_MSG138#>: <span class="tags"><#template:article_tag#></span><#template:article_tag:end#></h5>
	<h6 class="post-footer">
		<#ZC_MSG011#>:<#article/author/name#> | <#ZC_MSG012#>:<#article/category/name#> | <#ZC_MSG013#>:<#article/commnums#> | <#ZC_MSG130#>:<#article/loadviewcount#>
	</h6>
</div>