<div class="post single-post cate<#article/category/id#> auth<#article/author/id#>">
	<h4 class="post-date"></h4>
	<h2 class="post-title"><#article/title#></h2>
	<div class="post-body"><#article/content#></div>
	<h5 class="post-tags"></h5>
	<h6 class="post-footer"></h6>
</div>
<#template:article_comment:begin#>
<ul class="msg msghead">
	<li class="tbname"><#ZC_MSG211#>:</li>
</ul>
<#template:article_comment#>
<#template:article_comment_pagebar#>
<#template:article_comment:end#>

<#template:article_commentpost#>