<ul class="msg" id="cmt<#article/comment/id#>">
	<li class="msgname"><img class="avatar" src="<#article/comment/avatar#>" alt="" width="32"/>&nbsp;<span class="commentname"><a href="<#article/comment/urlencoder#>" rel="nofollow" target="_blank"><#article/comment/name#></a></span><br/><small>&nbsp;<#ZC_MSG275#>&nbsp;<#article/comment/posttime#>&nbsp;&nbsp;<span class="revertcomment"><a href="#comment" onclick="RevertComment('<#article/comment/id#>')"><#ZC_MSG265#></a></span></small></li>
	<li class="msgarticle"><#article/comment/content#></li>
</ul>
