<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>markdown</id>
<name>Markdown编辑器</name>
<url>http://www.zblogcn.com/</url>
<note>Markdown编辑器.</note>
<description></description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>未寒</name>
  <email></email>
  <url></url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.2</version>
<pubdate>2015-01-07</pubdate>
<modified>2015-02-01</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict>KindEditor|UEditor|CKEditor</conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>