/*
 * @Name     : Zit Admin
 * @Author   : 吉光片羽
 * @Support  : jgpy.cn
 * @Create   : 2019-12-25 20:10:23
 * @Update   : 2020-02-19 16:23:02
 */

html body{font-size:16px;background:#fafbfc;color:#345;}

a{transition:all 0.5s;}

.zit{color:#fff;background:#39c;padding:0.5em;line-height:1;position:absolute;z-index:2;min-width:2em;display:inline-block;min-height:1em;margin:0;}
.zit::after{content:"Z";position:absolute;left:0.5em;bottom:-0.5em;transform:rotate(30deg);display:inline-block;margin:0 0.2em 0 0;z-index:-1;color:#39c;font-weight:bold;transition:all 0.5s;}
.zit a{color:#fff;}

form{margin:0;}

#divMain{float:none;padding:2.5em 2em 2em;}

.pane,
.theme,
form.search{box-shadow:0 0 2em rgba(0,0,0,0.05);padding:2em;position:relative;background:#fff;margin:2em 0;border-radius:0.1em;}
div.theme{height:340px;margin:0 2em 2em 0;}
div.theme-other{background:#fff;}
form.search p{padding:0;}

.pane table{margin:0;border:none;line-height:1.8;box-shadow:none;}
.pane td,
.pane th{border:none;padding:0.8em;}
.pane th{background:none;}

ul::after,
ol::after,
.pane::after,
.menu::after,
.SubMenu::after{display:table;clear:both;content:"";}

.header{margin:0 0 0 10em;background:#fff;height:auto;box-shadow:0 0 1em rgba(0,0,0,0.2);border-bottom:1px solid #cde;}

.logo{height:auto;padding:0;width:auto;}
.logo img{display:none;}
.logo .zit{font-size:2em;left:0.5em;top:0.5em;padding:0.25em 0.35em;border-radius:0.1em;}

.menu{position:static;height:3em;font-size:0.875em;}
.menu ul li{margin:0;border-left:1px dotted #cde;height:3em;line-height:3;}
.menu ul li a,
.menu ul li a:hover{height:3em;line-height:3;padding:0 1em;}
.menu ul li a{color:#678;}

#kandyApps{border-radius:0 !important;}
#kandyApps i{padding:0.5em;height:3em !important;}
#kandyApps div{top:40px !important;transition:none;}
#kandyLangs select{margin:0.5em 1em;border:1px solid #ddd;padding:0.2em;color:#678;}

.user{position:fixed;left:0;top:0;width:10em;text-align:center;z-index:10;height:auto;border-bottom:1px dotted #cde;}
.user #avatar{vertical-align:top;margin:1em auto 0;width:4em;height:4em;border-radius:4em;border:2px solid #fff;float:none;}
.username,
.userbtn,
.userbtn a{line-height:2;height:2em;margin:0;vertical-align:inherit;font-size:0.875em;overflow:hidden;}
.userbtn{margin:0 0 0.5em;}
.userbtn a:visited{color:#fff;}

.left{width:10em;position:fixed;left:0;top:0;bottom:0;z-index:9;padding-top:9em;background-image:url(style/bg.jpg);background-repeat:no-repeat;background-size:auto 100%;animation:slide 300s infinite linear;}

#menuwrap{overflow:scroll;overflow-x:hidden;height:100%;}

.left #leftmenu li{height:auto;margin:0;background:none;text-align:center;float:none;width:auto;cursor:default;position:relative;}
#leftmenu li.split{border-bottom:1px dotted #cde;margin:0 1em;}
.left #leftmenu a{margin:0;float:none;padding:0.5em 0.25em;height:auto;line-height:1.5;display:block;width:auto;text-align:center;color:#fafbfc;}
.left #leftmenu span{float:none;height:auto;line-height:1.5;text-align:inherit;margin:0;padding:0 0 0 20px;background-position:0 55%;}
html[lang="en"] .left #leftmenu a{text-align:left;padding-left:0.5em;}
.left #leftmenu a:hover{letter-spacing:0.05em;text-indent:0.05em;font-weight:bold;background:rgba(0,0,0,0.05);color:#fff;}
#leftmenu li.on::after{content:".";overflow:hidden;height:0;line-height:0;width:0;border:0.5em solid;border-color:transparent #fafbfc transparent transparent;position:absolute;right:0;top:50%;margin:-0.5em 0 0;}
#leftmenu li.on{font-weight:bold;}

.main{margin-left:10em;padding:0;}

div.hint{margin:0;padding:0 !important;}
div.hint p{line-height:2;padding:0.5em 2em 0.5em 0;background-position:99% 50% !important;text-align:right;font-weight:bold;color:#123;}

.divHeader2{border:none;}

.SubMenu{height:40px;line-height:37px;margin:2em 0 -2em !important;padding:0 10px;border-bottom:2px solid #39c;overflow:auto;}
.SubMenu a{background:#fefefe;box-shadow:0 0 0.5em rgba(0,0,0,0.05);border:solid #f4f5f6;border-width:1px 1px 0;border-radius:0.3em 0.3em 0 0;overflow:hidden;}
.SubMenu a:hover{background:#def;}
.SubMenu span{color:#17a;}
.SubMenu span:hover{color:#234;}
.SubMenu span:hover b{color:#fee;}
.SubMenu span.m-now:hover{color:#fff;}
.SubMenu a.hilite{top:0 !important;padding:0 !important;}

#btnPost{height:auto !important;padding:0.5em 1em;border-radius:0.5em;border-width:2px;}

.widget_id_zit_cmtids,
.widget-left .pane{display:none;}
.widget-left .widget{width:247px;}
.widget-list-header,
.siderbar-header{padding:0.6em;}

.pagebar{text-align:center;margin:0 0 2em;clear:both;}
.pagebar span,
.pagebar a{margin:0 0.2em;padding:0.5em;border-radius:0.5em;border:2px solid #def;display:inline-block;line-height:1;background:#fff;}
.pagebar a:hover{background:#def;}
.pagebar span{background:#18c;color:#fff;}
.content .pagebar{font-size:1em;}
.content .pagebar span{padding:0;}

#divMain2>.pane>.warning{transform:none;max-width:35em;position:static;margin:0 auto;font-size:1em;}
#divMain2>.pane>.warning form{margin:1em 0 0;}

@keyframes slide{
  0% {background-position:center;}
  25% {background-position:0;}
  75% {background-position:100%;}
  100% {background-position:center;}
}