<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Scheduler</id>
<name>计划任务</name>
<url>https://zzs.im</url>
<note>计划任务</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zhouzishu</name>
  <email>me@zzs.im</email>
  <url>https://zzs.im</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>173290</adapted>
<version>1.0</version>
<pubdate>2023-08-12</pubdate>
<modified>2023-08-12</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>