<div class="post single-post cate<#article/category/id#> auth<#article/author/id#>">
	<div class="post-nav"><#template:article_navbar_l#><#template:article_navbar_r#></div>
	<h4 class="post-date"><#article/posttime#></h4>
	<h2 class="post-title"><#article/title#></h2>
	<div class="post-body"><#article/content#></div>
	<h5 class="post-tags"><#template:article_tag:begin#><#ZC_MSG138#>: <span class="tags"><#template:article_tag#></span><#template:article_tag:end#></h5>
	<h6 class="post-footer">
		<#ZC_MSG011#>:<#article/author/name#> | <#ZC_MSG012#>:<#article/category/name#> | <#ZC_MSG013#>:<#article/commnums#> | <#ZC_MSG130#>:<#article/addviewcount#>
	</h6>
</div>
<#template:article_mutuality:begin#>
<ul class="msg mutuality">
	<li class="tbname"><#ZC_MSG231#>:</li>
	<li class="msgarticle"><#template:article_mutuality#></li>
</ul>
<#template:article_mutuality:end#>


<#template:article_comment:begin#>
<ul class="msg msghead">
	<li class="tbname"><#ZC_MSG211#>:</li>
</ul>
<#template:article_comment#>
<#template:article_comment_pagebar#>
<#template:article_comment:end#>

<#template:article_commentpost#>