@font-face {
  font-family: "iconfont"; /* Project id 1521140 */
  src: url('iconfont.woff2?t=1649813786709') format('woff2'),
       url('iconfont.woff?t=1649813786709') format('woff'),
       url('iconfont.ttf?t=1649813786709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuomoban1:before {
  content: "\e609";
}

.icon-tubiaozhizuomoban:before {
  content: "\e608";
}

.icon-shouji:before {
  content: "\e615";
}

.icon-tubiao7:before {
  content: "\e638";
}

.icon-dingweixiao:before {
  content: "\e8ba";
}

.icon-home:before {
  content: "\e6ad";
}

.icon-telephone:before {
  content: "\e6af";
}

.icon-mark:before {
  content: "\e6eb";
}

.icon-menu:before {
  content: "\e6ec";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-zhihu:before {
  content: "\ea8b";
}

.icon-playbtn:before {
  content: "\e606";
}

.icon-kefu:before {
  content: "\e607";
}

.icon-paixu2:before {
  content: "\e605";
}

.icon-yuyin:before {
  content: "\e616";
}

.icon-ziyuan2:before {
  content: "\e78c";
}

.icon-ziyuan3:before {
  content: "\e78d";
}

.icon-dianhua:before {
  content: "\e64b";
}

.icon-appqzone:before {
  content: "\e640";
}

.icon-feed:before {
  content: "\e6e9";
}

.icon-filter:before {
  content: "\e672";
}

.icon-ios:before {
  content: "\e603";
}

.icon-android:before {
  content: "\e614";
}

.icon-xingxing:before {
  content: "\e60a";
}

.icon-back:before {
  content: "\e6dc";
}

.icon-weibiaoti1:before {
  content: "\e604";
}

.icon-icon_sign_email:before {
  content: "\e617";
}

.icon-icon1:before {
  content: "\e610";
}

.icon-QQ:before {
  content: "\e60f";
}

.icon-sina:before {
  content: "\e612";
}

.icon-delete:before {
  content: "\e6ac";
}

.icon-Null-data:before {
  content: "\e869";
}

.icon-jia:before {
  content: "\e601";
}

.icon-jian:before {
  content: "\e602";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-sleepmode:before {
  content: "\e6e4";
}

.icon-uniEB5C:before {
  content: "\e600";
}

.icon-icon_duihao-xian:before {
  content: "\e63c";
}

.icon-checktriangle:before {
  content: "\e6d0";
}

.icon-top1:before {
  content: "\e67a";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-edit:before {
  content: "\e69a";
}

.icon-settings:before {
  content: "\e699";
}

.icon-down:before {
  content: "\e69b";
}

.icon-agreement:before {
  content: "\e697";
}

.icon-privacy:before {
  content: "\e69d";
}

.icon-information:before {
  content: "\e69e";
}

.icon-close:before {
  content: "\e69f";
}

.icon-refuse:before {
  content: "\e6a0";
}

.icon-selection:before {
  content: "\e6a1";
}

.icon-increase:before {
  content: "\e6a2";
}

.icon-collection:before {
  content: "\e6a3";
}

.icon-upward:before {
  content: "\e6a4";
}

.icon-top:before {
  content: "\e6a5";
}

.icon-history:before {
  content: "\e69c";
}

.icon-next:before {
  content: "\e6a6";
}

.icon-eye_protection:before {
  content: "\e6a7";
}

.icon-voice:before {
  content: "\e6a8";
}

.icon-nickname:before {
  content: "\e6a9";
}

.icon-movie:before {
  content: "\e6aa";
}

.icon-problem:before {
  content: "\e6ab";
}

.icon-cancel:before {
  content: "\e6db";
}

.icon-geniecalling:before {
  content: "\e6dd";
}

.icon-faimlyalbum:before {
  content: "\e6de";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-instruction:before {
  content: "\e6e2";
}

