name: Upload pack as Release Asset

on:
  push:
    paths:
      - "zb_system/function/c_system_version.php"

  workflow_dispatch:

permissions:
  contents: write

jobs:
  upload-pack:
    runs-on: ubuntu-latest
    steps:
      - name: Set git to use CRLF
        run: |
          git config --global core.autocrlf true
          git config --global core.eol crlf

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get Version
        id: get_version
        run: |
          echo "Get versions from utils/get_version.php"
          SHORT=$(php ./utils/get_version.php --short)
          FULL=$(php ./utils/get_version.php --full)
          echo "short=$SHORT" >> $GITHUB_OUTPUT
          echo "full=$FULL" >> $GITHUB_OUTPUT

      - name: Pack as zip
        run: git archive -o zblogphp-${{ steps.get_version.outputs.short }}.zip HEAD

      - name: Put AppCentre Plugin
        run: |
          php ./utils/put_appcentre.php
          zip -g zblogphp-${{ steps.get_version.outputs.short }}.zip zb_users/plugin/AppCentre/* zb_users/plugin/AppCentre/**/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.get_version.outputs.short }}
          name: ${{ steps.get_version.outputs.full }}
          # draft: true
          prerelease: false
          generate_release_notes: true
          files: |
            zblogphp-${{ steps.get_version.outputs.short }}.zip
